h3 You can find more information here:
p
  ul
    li 
      a(href:"http://devcenter.heroku.com/articles/node-js") http://devcenter.heroku.com/articles/node-js
    li 
      a(href:"http://blog.heroku.com/archives/2011/5/31/celadon_cedar/") http://blog.heroku.com/archives/2011/5/31/celadon_cedar/
    li 
      a(href:"http://devcenter.heroku.com/") http://devcenter.heroku.com/
h3 Example App Info
p In this example I'm using:
p
  ul
    li 
      a(href:"http://jade-lang.com/") Jade
    li 
      a(href:"https://github.com/LearnBoost/stylus") Stylus
    li 
      a(href:"http://expressjs.com/") And of course ExpressJS
p This example took me less than 10 minutes to build and deploy to Heroku, no FUCKING JOKE!
p You can download here
  a(href:"https://github.com/csanz/node-example") https://github.com/csanz/node-example
br
dev#references I'll do a quick video soon 
  a(href:"http://twitter.com/csanz") @csanz